* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

//var
:root {
    // --color-primary: #3700b3; //main 10%
    // --color-primary: #bb86fc;
    --color-primary: #9266F5;
    --color-bg: #121212; //60%
    --color-surface: #1f1b24; //30%
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #BDB2CA;
    --transition-default: all .4s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
    background-color: var(--color-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white) !important;
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

p {
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: var(--transition-default) !important;
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.act-anim {
    display: block;
    animation: anim 1s ease-in-out;
    @keyframes anim {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

.active {
    display: block;
}

//btn
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    // width: 100%;
    // top: 2.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    // background-color: var(--color-surface);
    // box-shadow: var(--box-shadow-1) !important;
    .active-btn {
        background-color: var(--color-primary) !important;
        transition: var(--transition-default) !important;
        i {
            color: var(--color-white) !important;
        }
    }
    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-surface);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1) !important;
        i {
            font-size: 1rem;
            pointer-events: none;
            color: var(--color-grey);
            letter-spacing: 1px;
        }
    }
}


/*header components*/

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
        .h-img {
            transition: var(--transition-default);
            width: 100%;
            // width: 70%;
            height: 100%;
            background-color: var(--color-surface);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);
        }
        .image {
            border-radius: 14px;
            height: 90%;
            margin-left: 5%;
            transition: var(--transition-default);
            // background-color: var(--color-primary);
            img {
                height: 100%;
                border-radius: 14px;
                transition: var(--transition-default);
                object-fit: cover;
                filter: grayscale(40%);
                &:hover {
                    filter: grayscale(20%);
                }
            }
        }
    }
    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name {
            font-size: 4rem;
            color: var(--color-primary);
            font-weight: 900;
        }
        p {
            margin: 1.5rem 0;
            line-height: 2rem;
            text-align: justify;
        }
    }
}


/*about me components*/

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-item {
            border: 1px solid var(--color-surface);
            border-radius: 5px;
            transition: var(--transition-default);
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-primary);
                box-shadow: 1px 2px 15px rgba(0, 0, 0, .32);
            }
            .abt-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-primary);
                }
                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey);
                    }
                }
            }
        }
    }
    .left-about {
        padding-right: 5rem;
        p {
            line-height: 2rem;
            padding: 1rem 0;
            color: var(--color-white);
            text-align: justify;
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats {
    padding-bottom: 4rem;
    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            .prog-title {
                text-transform: uppercase;
                font-weight: 500;
                color: var(--color-grey);
                text-decoration: underline;
                text-underline-offset: 2.5px;
                padding-bottom: 5px;
            }
            .progress-con {
                display: flex;
                align-items: center;
                .prog-text {
                    color: var(--color-white);
                }
            }
        }
    }
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey);
        transform: translateX(-50%);
    }
}


/*timeline components*/

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item {
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey);
        .tl-icon {
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-surface);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 1.3rem;
            }
        }
        .tl-duration {
            padding: .2rem .6rem;
            background-color: var(--color-surface);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5 {
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span {
                color: var(--color-grey);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p {
            color: var(--color-white);
        }
    }
}


/*portfolio components*/

.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item {
        position: relative;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-item {
            width: 100%;
            height: 100%;
            background-color: var(--color-primary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: var(--transition-default);
            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: var(--color-surface);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: var(--transition-default);
                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }
                    &:hover {
                        background-color: var(--color-white);
                        i {
                            color: var(--color-surface);
                        }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-item {
    opacity: 1;
}


/*interest componets*/

.interest-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .interest {
        position: relative;
        background-color: var(--color-surface);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
        transition: var(--transition-default);
        &:hover {
            box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
            transform: translateY(-5px);
            transition: var(--transition-default);
            h4 {
                color: var(--color-primary);
            }
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .interest-text {
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-primary);
            h4 {
                font-size: 1.5rem;
                margin-bottom: .7rem;
                cursor: default;
                transition: var(--transition-default);
            }
            p {
                line-height: 2rem;
                padding-bottom: 1rem;
                text-align: justify;
            }
            a {
                color: var(--color-primary);
                transition: var(--transition-default);
                cursor: pointer;
            }
        }
    }
}


/*contact components*/

.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
        flex: 2;
        h4 {
            margin: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }
        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .icon {
                display: grid;
                grid-template-columns: 40px 1fr;
                i {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .contact-icon {
        display: flex;
        margin-top: 2rem;
        a {
            display: flex;
            align-items: center;
            color: var(--color-white);
            background-color: var(--color-surface);
            cursor: pointer;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 .4rem;
            transition: var(--transition-default);
            &:hover {
                background-color: var(--color-primary);
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
            }
        }
    }
    .right-contact {
        flex: 3;
        margin-left: 3rem;
        .input-control {
            margin: 1.5rem 0;
            input,
            textarea {
                border-radius: 15px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-surface);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2 {
            display: flex;
             :last-child {
                margin-left: 1.5rem;
            }
        }
        .submit-btn {
            display: flex;
            justify-content: flex-start;
        }
    }
}


/*reusable components*/

.btn-con {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-surface);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    .btn-text {
        padding: 0 2rem;
        color: var(--color-grey);
    }
    .btn-icon {
        background-color: var(--color-surface);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        color: var(--color-grey);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--transition-default);
        z-index: -1;
    }
    &:hover {
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-primary);
            transform: translateX(0);
        }
    }
}

.main-btn:hover {
    border: 1px solid var(--color-primary);
    .btn-text {
        color: var(--color-white);
    }
    .btn-icon {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}

.btn-icon:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.main-title {
    text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span {
            color: var(--color-primary)
        }
    }
}

@import './media';